.game-board {
    margin: 0 auto;
    position: relative;
    width: 500px;
}

.cell-row:after {
    clear: both;
    content: '';
    display: table;
}

.cell-row {
    height: 50px;
    width: 100%;
}

.cell {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: 100%;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
}

.cell.alive {
    background: cyan;
}
